<ng-container>

  <div fxLayout="column">
    <h1>Messages</h1>
    <br>

    <div *ngFor="let article of articles">
      <mat-card>
        <img
          mat-card-lg-image
          *ngIf="article.image"
          [src]="article.image |image"
          alt="image of message + {{ article.image }}"
        mat-card-image
        >
        <p>{{article.author }}</p>
        <p> <strong> {{article.datetime}}</strong></p>
        <mat-card-title-group>
          <mat-card-title> {{ article.title}}</mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
          {{ article.description }}
        </mat-card-content>
        <mat-card-actions>
          <a [routerLink]="['/article/', article.id]" mat-button>Read full article</a>
          <button type="submit">DELETE</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>{{article.title}}</mat-card-title>
          <mat-card-subtitle>{{article.description}}</mat-card-subtitle>
          <img
            mat-card-lg-image
            *ngIf="article.image"
            [src]="article.image"
            alt="image of message + {{ article.image }}"
            mat-card-image>
        </mat-card-title-group>
      </mat-card>
    </div>
    <br>
  </div>

</ng-container>
