
<div *ngFor="let article of articles">
<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>{{article.title}}</mat-card-title>
    <mat-card-subtitle>{{article.author}}</mat-card-subtitle>
    <img
      mat-card-lg-image
      [src]="article.image"
      alt="image of message + {{ article.image }}"
      mat-card-image>
  </mat-card-title-group>
  <mat-card-content>
    {{article.description}}
  </mat-card-content>
</mat-card>
</div>

