<mat-sidenav-container class="sidenav-container">
    <mat-toolbar color="primary">
      <a routerLink="/">24/7news.kg</a>
      <span><a routerLink="/new-articles">Create new article</a></span>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
</mat-sidenav-container>
