<h1>New article</h1>
<mat-card>
    <form
      (ngSubmit)="onSubmit()"
      #f="ngForm"
      fxLayout="column"
    >
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input
          matInput
          type="text"
          name="title"
          required
          ngModel/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          name="description"
          required
          ngModel
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
        ></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Image</mat-label>
        <app-file-input
          name="image"
          ngModel
        ></app-file-input>
      </mat-form-field>

      <div>
        <button
          type="submit"
          mat-raised-button
          [disabled]="f.invalid"
        >SAVE</button>
      </div>
    </form>
</mat-card>
